.App {
  margin-top: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App .logo{
  width: 100px;
}

.App .button-area {
  margin-top: 2rem;
}

.App .logoFooter {
  width: 12px;
  margin: 0 5px;
}

.App .heartIcon {
  width: 12px;
  margin: 0 5px;
}

.App .loadingIcon {
  width: 50px
}

.App .machineid-area h1 {
  background: #F4F4F4;
  padding: 1rem;
}

.App .copy-button {
  opacity: .5;
  height: 20px;
  margin-left: 5px;
}
.App .copy-button:hover {
  opacity: 1;
}